body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section{
    text-align: center;
}
.game--container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width:300px;
    margin:50px auto;
}
.cell{
    font-family: "permanent Marker",cursive;
    width:100px;
    height: 100px;
    border:2px solid black;
    cursor: pointer;
    font-size: 60px;
    line-height: 100px;
}